*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    
    background-color: rgb(37, 43, 66);
    
}
.hero{
 background-image:  url('/assest/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}
.sec1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px;
}
.focus{
    width: 13rem;
    
}
.desktop1{
    display: flex;
    gap: 10px;
    color: white;
    font-size: 12px;
}
.your{
    width: 130px;
    font-size: 10px;
    padding: 8px;
    border-radius: 15px;
    align-items: center;
    text-align: left;
}
.email{
    font-size: 9px;
    border-radius: 15px;
    width: 65px;
    margin-right: 10px;
    color: red;
    justify-items: center;
    padding: 8px    ;
    
}
.inn{
    width: 140px;
    padding: 8px;
      border-radius: 15px;
      color: #000;
      font-size: 10px;
}
nav{

    align-items: center;
    justify-content: center;
}
.logo{
    width: 20%;
      
}
.desktop1 > ul > li{
    list-style: none;
    padding: 10px;
    
}
.desktop1 ul{
    display: flex;
}
.most{
    width: 10rem;
    justify-content: center;
}

.sec2{
    margin-top: 100px;
    display: flex;
    padding: 15px;
    gap: 70px;
    justify-content: center;
}
.frame{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 10px;
}
.frame h2{
    font-size: 28px;
    color: white;
}
.frame p{
    font-size: 16px;
    color: white;
    margin: 10px ;
    width: 16rem;
    margin-left: -10px;
}
.try{
    width: 130px;
    color: rgb(13, 89, 240);
    border-radius: 15px;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
}
.service{
    text-align: center;
     color: white;
     line-height: 50px;

}
.most1{
    width: 15rem;
    margin: 10px auto;
}
.mst{
    width: 17rem;
}
.mst2{
    width: 28rem;
}
.slate{
    width: 10rem;
}
.icon1 {
    width: 50px;
    color: white;
}
.feat1{
    margin-right: 20px;

}
.feat1 h6{
    color: white;
    font-size: 12px;

}
.feat1 p{
    color: white;
    font-size: 12px;
    margin: 10px auto;
}
.img-icon{
    height: 50px;
    width: 50px;
}

.feature-1{
    display: flex;
    align-items: center;
}
.feat2{
    margin-right: 20px;
}

.img-icon2{
    height: 50px;
    width: 50px;
}
.feat2 h6{
    color: white;
    font-size: 12px;

}
.feat2 p{
    color: white;
    font-size: 12px;
    margin: 10px auto;
}
.feature-2 {
    display: flex;
    align-items: center;
}
.imagehero{
    overflow: hidden;
margin-left: -217px;
}
.img-icon4{
    margin-left: -20px;
}

.img-icon3{
    height: 50px;
    width: 50px;
}
.feat3 h6{
    color: white;
    font-size: 12px;

}
.feat3 p{
    color: white;
    font-size: 12px;
    margin: 10px auto;
}
.feature-3 {
    display: flex;
    align-items: center;
}
.imgicons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.sec4{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    align-items: center;

}
.sec4 h1{
    color: white;
    margin-bottom: 20px;
text-align: center;
}
.sec4 p {
    color: white;
    margin-bottom: 20px;

}
.butt{
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(63, 142, 239);
    color: white;
    font-size: 12px;
    text-align: center;
}
.sec4 img{
    margin-top: 50px;
    width: 550px;
}
.sec5 p{
    color: white;
    margin-bottom: 20px;
}
.sec5 h1{
    color: white;
    margin-top: 15px;
}
.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.but1{
    width: 200px;
    border-radius: 15px;
    color: black;
    font: 4px;
    padding: 8px;
    margin-bottom: 5px;
}
.but2{
     width: 200px;
    border-radius: 15px;
    color: white;
    font: 6px;
    padding: 4px;
    background-color: #EF2779;

}
.partner{
    margin-top: 100px;

}
.partner h1,p{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    
}
.logo1{
    width: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}
.sec6{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    gap: 20px;
}
.client1 h4{
    color: white;
    margin-right: 15px;
}
.client2 h4{
    color: white;
    margin-right: 15px;

}
.client3{
    color: white;
    margin-right: 15px;

}
.sec7{
    display: flex;
    /* flex-direction: ; */
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;

}
.client4 h4{
    color: white;
    margin-right: 15px;
}
.client5 h4{
    color: white;
    margin-right: 15px;
}
.client6 h4{
    color: white;
    margin-right: 15px;
}
.butt3{
    width: 150px;
    padding: 7px;
    border-radius: 15px;
    background-color: #2089e4;
    color: white;
    font-size: 18px;
    margin: 20px auto;
}
.sec8{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.imgavatar{
    width: 50px;
}
.imgavatar2{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sec7 h{
    color: white;
}
.text1{
    color: white;
    margin-top: 20px;
    text-align: center;
}
.avatar {
    display: flex;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.more{
    width: 150px;
    padding: 5px;
    border-radius: 15px;
    background-color: #2089e4;
    margin-top: 30px;
    color: white;
    
}
.page li{
    list-style: none;
    padding: 15px;
}
.text2{
    color: white;
    margin-top: 60px;
    text-align: center;
}
.price1{
    width: 300px;
    background-color: white;
    padding-top: 2px;
    border-radius: 5px;
    margin-left: 30px;  
}
.text3{
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}
.text4{
    color: black;
    margin-top: 10px;
    font-size: 10px;
    margin-bottom: 10px;
}
.text5{
    color: black;
    font-size: 30px;
    margin-left: 10px;
}
.pri{
    display: flex;
    margin-bottom: 15px;
}
.order{
    padding: 7px;
    width: 150px;
    margin-left: 20px;
    background-color: #2089e4;
    border-radius: 15px;
    margin-bottom: 30px;
}
.price2{
    width: 210px;
    background-image:  url('/assest/bg.png');
    padding-top: 2px;
    border-radius: 5px;
}
.text6{
    color: white;
    font-size: 30px;
    margin-left: 10px;

}
.free:hover{
    color: white;
    background:linear-gradient( #EF2779,#7834BE);
}
.free:hover button{
    background-color: #fff;
    color: #EF2779;
}
.text7{
    color: white;
    margin-top: 10px;
    font-size: 10px;
}
.text8{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}
.text9{
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}
.sec10{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.mobile {
    display: none;
}
.text10{
    color: black;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
.text11{
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.text12{
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}
form{
    width: 70%;
    /* height: 380px; */
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}
.grp{
    width: 200px;
    height: 190px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 15px;
    margin-left: 30px;
    
}
.send{
    color: white;
    width: 100px;
    background-color: lightpink;
    padding: 5px;
    margin-top: 10px;
    border-radius: 15px;
}
.icons{
    width: 50px;
}
.text13{
    color: white;
    font-size: 14px;
}
.text13a{
    color: black;
    font-size: 16px;
}
.ico{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 20px;
}
.sec11{
    margin-top: 20px;
    background-color: rgb(214, 235, 255);
    padding-top: 20px;
}
.form2 {
    display: flex;
    padding: 15px;
    justify-content: center;
    gap: 70px;
    }
.foot{
    color: white;
    margin-top: 10px;
}
.image{
    margin-top: px;
}
li{
   margin-top: 10px;
}

.map{
    width: 400px;
    height: 250px;
    margin-top: 20px;
}
.page h2{
    color: #fff;
    margin-top: 20px;
    padding: 15px;
}
footer{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgb(37, 43, 66);
}
.option li{
    color: white;
    list-style-type: none;
    font-size: 12px;
}
.option{
    position: absolute;
    right: 10px;
    background-color: #00000027;
    padding: 10px;

}
.ffs{
    width: 5rem;
    font-size: 14px;
    padding: 5px;
}
.ffs1{
    width: 7rem;
    font-size: 14px;
    padding: 5px;
}
.bbt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media  screen and (max-width: 480px) {
    .container{
        width: 95%;
        margin: 0 auto;
    }
    .mobile{
    display: block;
}

.desktop,.option {
    display: none;

}
.mobile1:hover .option{
    display: block;

}
.secn{
    display: flex;
    justify-content: space-between;
    
}
.mobile1{
    position: relative;
    margin: ;
}
.img-icon4{
    width: 100%;
    height: 100%;
    }
.imagehero{
    width: 200px;
    margin: 10px auto;
    
}
.frame{
    margin-top: 0;
    justify-content: center;

}

.frame h2{
    font-size: 18px;
    margin-right:0;
    margin-bottom: 0;
}
.sec2{
    padding: 0;
    flex-direction:column-reverse ;
    margin-top: 10px;
    margin-bottom: 70px;
}
.imagee{
    width: 100px;
    height: 30px;
    
}


.imgicons {
    flex-direction: column;
    margin: 10px auto;
}

.immage{
    text-align: center;
    justify-content: center;  
}
.sec6{
    flex-direction: column;
    gap: 30px;
    margin: 10px auto;
}
.free{
    width: 180px;
    margin:10px auto;   
}
.sec11{
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.form2{
    flex-direction: column-reverse;
    width: 270px;
    padding: 15px;
}

.form3{
    width: 0px;
}
textarea {
    width: 70px;
    height: 100px;
}
.form-group{
    margin: 0;
    width: 90%;
}
footer{
    flex-direction: column;
    gap: 1px;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.map{
    width: 270px;
    align-items: center;
  justify-items: center;
}
.ico{
    width: 250px;
}
.foot{
    list-style-type: none;
}
.sec2{
    align-items: center; 
}
.sec4 img{
    width: 200px;
}
.mst2{
    width: 18rem;
}
.text10{
    padding-top: 10px;
}

.form{
    width: 260px;
}
form{
    width: 100%;
}
.footer{
    width: 98%;

}

.frame h2{
    width: 8rem;
    margin: 15px auto;
}
.img-icon4{
    width: 100%;
}
}
@media  screen and (max-width: 800px){
    .sec10{
        width: 97%;
        margin: px auto;
    }
    footer{
        padding: 10px;
    
    }
    .map{
        width: 30%;
    }
    .form-group{
        width: 70%;
    }
    .grp{
        width: 100%;
    }

}