*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1500px;
    background-color: #000;
}
.hero{
 background-image:  url('/assest/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px;
}
.desktop1{
    display: flex;
    gap: 10px;
    color: white;
    font-size: 12px;
}
.your{
    width: 100px;
    font-size: 10px;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
}
.email{
    font-size: 10px;
    border-radius: 15px;
    width: 60px;
    margin-right: 10px;
    color: red;
    
}
.logo{
    width: 70%;
      
}
.sec2{
    margin-top: 100px;
    display: flex;
    padding: 15px;
}
.frame{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 100px;
    align-items: center;
    margin-left: 15px;
}
.frame h2{
    font-size: 28px;
    color: white;
    margin-right: 70px;
    margin-bottom: 25px;
}
.frame p{
    font-size: 16px;
    color: white;
    margin-bottom: 25px;
}
.try{
    width: 110px;
    color: rgb(63, 72, 130);
    border-radius: 15px;
    padding: 7px;
    font-size: 12px;
    gap: 20px;
}
.service{
    text-align: center;
     color: white;
    margin-bottom: 10px;
}
.icon1 {
    width: 50px;
    color: white;
}
.feat1{
    margin-right: 20px;

}
.feat1 h6{
    color: white;
    font-size: 12px;

}
.feat1 p{
    color: white;
    font-size: 12px;
}
.img-icon{
    height: 50px;
    width: 50px;
}

.feature-1{
    display: flex;
    align-items: center;
}
.feat2{
    margin-right: 20px;
}

.img-icon2{
    height: 50px;
    width: 50px;
}
.feat2 h6{
    color: white;
    font-size: 12px;

}
.feat2 p{
    color: white;
    font-size: 12px;
}
.feature-2 {
    display: flex;
    align-items: center;
}
.feat3{

}

.img-icon3{
    height: 50px;
    width: 50px;
}
.feat3 h6{
    color: white;
    font-size: 12px;

}
.feat3 p{
    color: white;
    font-size: 12px;
}
.feature-3 {
    display: flex;
    align-items: center;
}
.imgicons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.sec4{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    align-items: center;

}
.sec4 h1{
    color: white;
    margin-bottom: 20px;
text-align: center;
}
.sec4 p {
    color: white;
    margin-bottom: 20px;

}
.butt{
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(63, 142, 239);
    color: white;
    font-size: 12px;
    text-align: center;
}
.sec4 img{
    margin-top: 50px;
}
.sec5 p{
    color: white;
    margin-bottom: 20px;
}
.sec5 h1{
    color: white;
    margin-top: 15px;
}
.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.but1{
    width: 200px;
    border-radius: 15px;
    color: black;
    font: 4px;
    padding: 8px;
    margin-bottom: 5px;
}
.but2{
     width: 200px;
    border-radius: 15px;
    color: white;
    font: 6px;
    padding: 4px;
    background-color: rgb(144, 9, 65);

}
.partner{
    margin-top: 100px;

}
.partner h1,p{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    
}
.logo1{
    width: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}
.sec6{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.client1 h4{
    color: white;
    margin-right: 12px;
}
.client2 h4{
    color: white;
    margin-right: 12px;

}
.client3{
    color: white;
    margin-right: 12px;

}
.sec7{
    display: flex;
    /* flex-direction: ; */
    justify-content: center;
    text-align: center;
    margin-top: 50px;

}
.client4 h4{
    color: white;
    margin-right: 12px;
}
.client5 h4{
    color: white;
    margin-right: 12px;
}
.client6 h4{
    color: white;
    margin-right: 12px;
}
.butt3{
    width: 150px;
    padding: 7px;
    border-radius: 15px;
    background-color: #2089e4;
    color: white;
    font-size: 18px;
    margin: 20px auto;
}
.sec8{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.imgavatar{
    width: 50px;
}
.imgavatar2{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sec7 h{
    color: white;
}
.text1{
    color: white;
    margin-top: 20px;
    text-align: center;
}
.avatar {
    display: flex;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.more{
    width: 150px;
    padding: 5px;
    border-radius: 15px;
    background-color: #2089e4;
    margin-top: 30px;
    color: white;
    
}
.text2{
    color: white;
    margin-top: 60px;
    text-align: center;
}
.price1{
    width: 300px;
    background-color: white;
    padding-top: 2px;
    border-radius: 5px;
    margin-left: 50px;  
}
.text3{
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}
.text4{
    color: black;
    margin-top: 10px;
    font-size: 10px;
    margin-bottom: 10px;
}
.text5{
    color: black;
    font-size: 30px;
    margin-left: 10px;
}
.pri{
    display: flex;
    margin-bottom: 15px;
}
.order{
    padding: 7px;
    width: 150px;
    margin-left: 20px;
    background-color: #2089e4;
    border-radius: 15px;
    margin-bottom: 30px;
}
.price2{
    width: 210px;
    background-image:  url('/assest/bg.png');
    padding-top: 2px;
    border-radius: 5px;
}
.text6{
    color: white;
    font-size: 30px;
    margin-left: 10px;

}
.free:hover{
    color: white;
    background-color: #2089e4;
}
.free:hover button{
    background-color: #fff;
    color: #000;
}
.text7{
    color: white;
    margin-top: 10px;
    font-size: 10px;
}
.text8{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}
.text9{
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}
.sec10{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.mobile {
    display: none;
}
.text10{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
.text11{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.text12{
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}
form{
    width: 70%;
    /* height: 380px; */
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}
.grp{
    width: 200px;
    height: 190px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 15px;
    margin-left: 30px;
    
}
.send{
    color: white;
    width: 100px;
    background-color: lightpink;
    padding: 5px;
    margin-top: 10px;
    border-radius: 15px;
}
.icons{
    width: 50px;
}
.text13{
    color: white;
    font-size: 16px;
}
.ico{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 20px;
}
.sec11{
    margin-top: 20px;
    background-color: aqua;
    padding-top: 20px;
}
.form2 {
    display: flex;
    padding: 15px;
    justify-content: center;
    gap: 70px;
    }
.foot{
    color: white;
    margin-top: 20px;
}
.image{
    margin-top: px;
}
li{
   margin-top: 10px;
}

.map{
    width: 400px;
    height: 250px;
    margin-top: 20px;
}
.page h2{
    color: #fff;
    margin-top: 20px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
}
.option li{
    color: white;
    list-style-type: none;
}
.option{
    position: absolute;
    right: 10px;
    background-color: #00000027;
    padding: 10px;

}
.bbt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media  screen and (max-width: 450px) {
    .container{
        width: 95%;
        margin: 5px auto;
    }
    .mobile{
    display: block;
}

.desktop,.option {
    display: none;

}
.mobile1:hover .option{
    display: block;

}
.secn{
    display: flex;
    justify-content: space-between;
    
}
.mobile1{
    position: relative;
}
.img-icon4{
    width: 100%;
    height: 100%;
    border: 3px solid blue;
    }
.imagehero{
    width: 200px;
    margin: 10px auto;
    
}
.frame{
    margin-top: 0;
}
.frame h2{
    font-size: 18px;
    margin-right:0;
    margin-bottom: 0;
}
.sec2{
    padding: 0;
    flex-direction:column-reverse ;
    margin-top: 10px;
}
.imagee{
    width: 100px;
    height: 30px;
    
}

.comp{
    width: 300px;
}
.imgicons {
    flex-direction: column;
}

.immage{
    text-align: center;
    justify-content: center;  
}
.sec6{
    flex-direction: column;
    gap: 30px;
}
.free{
    width: 180px;
    margin-bottom: 20px;   
}
.sec11{
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.form2{
    flex-direction: column-reverse;
    width: 270px;
    padding: 5px;
}

.form3{
    width: 0px;
}
textarea {
    width: 50px;
    height: 100px;
    border: 3px solid red;
}
.form-group{
    margin: 0;
    width: 90%;
}
footer{
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.map{
    width: 270px;
    align-items: center;
  justify-items: center;
}
.ico{
    width: 250px;
}
.foot{
    list-style-type: none;
}
.sec2{
    align-items: center; 
}

.form{
    width: 260px;
    border: 2px solid green;
}
form{
    width: 100%;
}
}